####################################
#  _____                           #
# | ____|_ __ ___   __ _  ___ ___  #
# |  _| | '_ ` _ \ / _` |/ __/ __| #
# | |___| | | | | | (_| | (__\__ \ #
# |_____|_| |_| |_|\__,_|\___|___/ #
#                                  #
####################################
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile
projectile-bookmarks.eld

# directory configuration
.dir-locals.el

# saveplace
places

# url cache
url/cache/

# cedet
ede-projects.el

# smex
smex-items

# company-statistics
company-statistics-cache.el

# anaconda-mode
anaconda-mode/

# ???
recentf
ac-comphist.dat
/semanticdb/
/games/
/eshell/
/.python-environments/

/xkcd/
.mc-lists.el
/emms/

/url/
