[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/Gueckmooh/.emacs.d.git
[submodule "awesome/.config/awesome"]
	path = awesome/.config/awesome
	url = https://github.com/Gueckmooh/yet-another-awesome-config.git
