[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/Gueckmooh/.emacs.d.git
[submodule "awesome/.config/awesome"]
	path = awesome/.config/awesome
	url = https://github.com/Gueckmooh/yet-another-awesome-config.git
[submodule "bin/sources/backlight"]
	path = bin/sources/backlight
	url = git@github.com:Gueckmooh/backlight.git
[submodule "mutt/.config/mutt"]
	path = mutt/.config/mutt
	url = git@github.com:Gueckmooh/mutt_config.git
[submodule "vim/.vim"]
	path = vim/.vim
	url = git@github.com:Gueckmooh/vim.git
