*.log
mpd/.config/mpd/mpd.log
mpd/.config/mpd/state
mpd/.config/mpd/tag_cache
mpd/.config/mpd/pid
mpd/.config/mpd/sticker.sql

ncmpcpp/.config/ncmpcpp/error.log

ranger/.config/ranger/bookmarks
ranger/.config/ranger/history

git/.gitconfig


neomutt/
notmuch/
offlineimap/
